.footer {
   background: rgb(45,15,75);
   background: linear-gradient(0deg, rgba(45,15,75,1) 0%, rgba(74,34,115,1) 29%, rgba(102,51,153,1) 70%);
  color: white;
  padding: 50px 200px 75px 200px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
}

.footer__left {
  flex: 0.8;
  padding-right: 50px;
}

.footer__right {
  flex: 0.2;
  line-height: 28px;
}

.footer__icon {
  margin-right: 15px;
  color: white;
  transition: transform 0.5s;
}

.footer__icon:hover {
  transform: rotate(15deg);
}

.footer h4 {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}
