.home__content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.home__intro {
  height: 300px;
  width: 70%;
}

.home__intro > h1 {
  font-size: 70px;
  font-weight: 300;
}

.home__intro > h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.home__contact {
  display: flex;
  align-content: center;
}

.home__contactButton {
  background-color: rebeccapurple;
  border-radius: 20px;
  min-height: 30px;
  padding: 10px 30px;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.home__contactButton:hover {
  background-color: black;
}

.home__contactButton:focus {
  outline: none;
}

.home__contactButtonAlert {
  font-size: 14px;
  font-weight: 400;
}

.home__projects {
  padding: 0 100px;
}

.home__projects > h2 {
  font-size: 40px;
  font-weight: 500;
}

.home__projectsButton {
  text-decoration: none;
  background-color: white;
  border-radius: 30px;
  padding: 10px 30px;
  border: 1px solid rebeccapurple;
  text-transform: uppercase;
  font-weight: 600;
  color: rebeccapurple;
  font-size: 22px;
  cursor: pointer;
}
