@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

// Set your brand colors
$purple: #760ab9;
$grey: #6c6c6c;
$white: #FFFFFF;
$black: #00000A;

// Set type
$family-sans-serif: "Nunito", sans-serif;

// Update Bulma's global variables
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$text: $black;
$text-strong: $black;
$primary: $purple;
$link: $grey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $white;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
// $button-disabled-opacity: 0.5;

@import "~bulma/bulma.sass";