.index {
   background-color: rebeccapurple;
   color: white;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.index > span {
   font-size: 60px;
}

