.tool {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tool__logo {
  width: 20px;
  object-fit: contain;
}

.tool > h6 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
